.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: absolute;
  right: 400px;
  top: 0;
  height: 500px;
}

.controlColumn {
  max-width: 50%;
}

.characterBackground {
  position: fixed;
  height: 500px;
}

.shade {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
}